!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Lead generation tool and email finder
    %meta{name: 'description', content: 'Trendom.io - Personal Cabinet, reveals and send emails.'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

    = render 'static/head'
  %body
    / Google Tag Manager
    %noscript
      %iframe{height: '0', src: '//www.googletagmanager.com/ns.html?id=GTM-5C535Q', style: 'display:none;visibility:hidden', width: '0'}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5C535Q');
    / End Google Tag Manager
    %nav.navbar.navbar-default.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-expanded': 'false', 'data-target': '#navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: user_root_path}
            %img{alt: 'Trendom.io', src: image_path('logo.png')}/
        .collapse.navbar-collapse#navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li
                =link_to 'Profiles', user_root_path
              %li
                =link_to 'Campaigns', campaigns_path
              %li
                =link_to 'Email templates', email_templates_path
              %li
                =link_to edit_user_path(current_user) do
                  Account
                  %span.badge
                    =current_user.calls_left
                    credits
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to destroy_user_session_path, method: :delete do
                  = fa_icon 'sign-out'
                  Sign out

    .container-fluid
      -flash.each do |name, msg|
        %div#flash{class: "alert alert-#{name == 'notice' ? 'success' : 'danger'} alert-dismissible fade in", role: 'alert'}
          %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
            %span{'aria-hidden': 'true'} ×
          =msg

      = yield